<h1><%= @tool.name %></h1>
<div class="row align-items-center">
  <div class="col-sm">
    <img class="img-full" src="<%= @tool.media %>">
  </div>
  <div class="col-sm">
    <h3>Description</h3>
    <p><%= @tool.description %></p>
  </div>
</div>
<h3>Métier associé</h3>
<p></p>