 <h1 class="h2">Nos bénévoles</h1>

  <p class="col-md-12">Rencontrez-les lors de nos ateliers !</p>


  <div class="row">
    <% @users.each do |user| %>
      <div class="col col-md-4">
        <p class="h3"><%= user.last_name %> <%= user.first_name %></p>
        <p><%= user.metier.name %></p>
        <p>Contact: <%= user.phone %></p>
      </div>
    <% end %>
  </div>    