<div id="texte">

<h1>Mention légales</h1>
<h3><i>Mis à jour le 09 avril 2020</i></h3>

<p>L'UNION des associations L'Outil en Main<br>
22 rue des Filles-Dieu<br>
10000 Troyes<br>
France<br>
03 25 73 74 83<br></p>
 
<h2>Intervenants</h2>

<p>Propriétaire du site : L'UNION DES ASSOCIATIONS L'OUTIL EN MAIN - 22 rue des filles dieu 10000 Troyes - info@loutilenmain.fr<br>
Responsable de la publication : Madame Yana Boureux<br>
Editeur du site : IUT Bordeaux Montaigne - 1 Rue Jacques Ellul, 33800 Bordeaux<br>
Hébergeur: Heroku - 50 Fremont St., Suite 300, San Francisco CA, 94105<br></p>
 
<h2>Droits de propriété intellectuelle</h2>

<p>L'ensemble de ce site relève de la législation internationale sur le droit d'auteur, le droit des marques et, de façon générale de la propriété intellectuelle en ce qui concerne chacun des éléments de son contenu (textes, images, données, ...) comme de sa forme. Les contenus figurant sur les pages de ce site sont la propriété exclusive de l'association L'UNION DES ASSOCIATIONS L'OUTIL EN MAIN.</p>
 
<p>La reproduction ou représentation, intégrale ou partielle, des pages, des données ou de tout autre élément constitutif de ce site, par quelque procédé ou support que ce soit, est interdite et constitue sans autorisation écrite expresse et préalable de l'éditeur une contrefaçon sanctionnée par les articles L335-2 et suivants du Code de Propriété Intellectuelle.</p>
 
<p>Par exception, certains contenus (photos, images) sont la propriété de leurs auteurs respectifs.<br>
Toute reproduction, représentation, diffusion ou rediffusion, de tout ou partie du contenu de ce site sur quelque support ou par tout procédé que ce soit, de même que toute vente, revente, retransmission ou mise à disposition de tiers de quelque manière que ce soit sont interdites.</p>
 
<p>Le non-respect de cette interdiction constitue une contrefaçon susceptible d'engager la responsabilité civile et pénale du contrefacteur.</p>
 
<p>Le code source reste la propriété exclusive de son auteur : IUT Bordeaux Montaigne.  Par ailleurs, la création et le fonctionnement du site Internet impliquent la création de logiciels. Ces logiciels bénéficient du régime de protection de droit d'auteur sous réserve de quelques dispositions spécifiques :<br>
<ul id=liste>
<li>art. L 113-9 sur la titularité des droits</li>
<li>art. L 121-7 sur le droit moral</li>
<li>art. L 122-5 sur les exceptions aux droits</li>
<li>art. L 122-6 sur les droits d'exploitation</li>
<li>art. L 131-4 sur la rémunération de l'auteur</li>
<li>art. L 332-4 sur la saisie-contrefaçon</li>
</ul></p>
 
<h2>Liens hypertextes</h2>

<p>L'association L'UNION DES ASSOCIATIONS L'OUTIL EN MAIN n'est pas responsable des liens hypertextes pointant vers le présent site et la création de liens hypertextes vers l'adresse https://loutilenligne.herokuapp.com/ est soumis à l'accord expresse préalable du responsable de la publication par demande adressée à <a href="mailto:info@loutilenmain.fr">info@loutilenmain.fr</a>. Les liens hypertextes établis en direction d'autres sites à partir de https://loutilenligne.herokuapp.com/# ne sauraient en aucun cas engager la responsabilité de l'association L'UNION DES ASSOCIATIONS L'OUTIL EN MAIN notamment mais de manière non exclusive quant au contenu de ces sites.</p>
 

<h2>Collecte d'informations</h2>
 
<p>Les informations saisies lors de la création d’un compte bénévole seront enregistrées à l’usage exclusif de l'association L'UNION DES ASSOCIATIONS L'OUTIL EN MAIN et sont uniquement utilisées pour le fonctionnement du site.<br>
Les données personnelles collectées sont : le prénom, le nom de famille, l’email et le numéro de téléphone. Elles permettent aux visiteurs d’identifier et de contacter le responsable local d’une association.<br>
Vous disposez d'un droit d'accès, de modification, de rectification et de suppression concernant les données collectées sur ce site, dans les conditions prévues par le Règlement Général sur la Protection des Données du 25 mai 2018, en faisant votre demande par courrier à l'adresse suivante :<br><br>
L'UNION des associations L'Outil en Main<br>
22 rue des Filles-Dieu<br>
10000 Troyes<br>
France<br><br>
 
ou par e-mail à l'adresse suivante :<br>
<a href="mailto:info@loutilenmain.fr">info@loutilenmain.fr</a></p>
 
<p>L'utilisateur est informé que lors de ses visites sur le site, un cookie peut s'installer automatiquement et être conservé temporairement sur son disque dur. Un cookie est un élément qui ne permet pas d'identifier l'utilisateur mais qui sert à l'enregistrement des informations relatives à la navigation de ce dernier sur le site Internet.</p>
 
<p>Les utilisateurs du site reconnaissent avoir été informés de cette pratique et autorisent l'association L'UNION DES ASSOCIATIONS L'OUTIL EN MAIN à l'employer. Ils pourront désactiver ce cookie par l'intermédiaire des paramètres figurant au sein de leur navigateur.</p>
</div>