<p id="notice"><%= notice %></p>

<h1 style="margin-bottom: 50px;">Les réalisations</h1>

<div class="text-center">
  <a href="#" class="btn">Filtrer par catégories</a>
</div>

<div class="row" style="margin-bottom: 3em;">
  <% @items.each do |item| %>
    <div class="col-md-6 mt-4">
      <%= link_to item do %>        
        <div class="rect-card">
          <img alt="" class="img-full" src="<%= item.media %>">
          <div class="rect">
            <h2 class="rect-title"><%= item.name %></h2>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>