<div class="container">
    <section class="about row">
        <div class="text col-md-6">
            <h2 class="title">Echanger et Transmettre</h2>
            <p>L’initiation des enfants aux métiers manuels et du patrimoine</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut posuere metus et nisi rutrum ultricies. Maecenas molestie lectus elit, ac sagittis risus elementum ut. Quisque tristique ultricies velit, sit amet volutpat quam ultrices vel. Vestibulum eu sem vehicula, rhoncus ex a, scelerisque arcu. Vestibulum vel leo nisi. Integer pulvinar sapien cursus tortor scelerisque, eu tincidunt felis porta.</p>
            <a href="find" class="btn">Trouver une association</a>
        </div>
        <div class="image col-md-6">
            <img src="" alt="" srcset="">
        </div>
    </section>
    <section class="meters">
        <h2 class="title">Découvrez nos différents métiers</h2>
        <div class="row">
            <div class="meter-box"></div>
            <div class="meter-box"></div>
            <div class="meter-box"></div>
        </div>
    </section>
</div>