/* Place all the styles related to the Legal controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/ */

#texte {
	margin-bottom: 5em;
}

#liste {
	font-family: 'Dosis', sans-serif;
    font-family: Dosis;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    text-align: left;
}
