// Place all the styles related to the root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$darkblue: #002F5A;
$lightblue: #0271B1;
$black: #000;

.container {
    .title {
        color: $lightblue;
        font-size: 37px;
        font-weight: 600;
        font-family: 'Sarabun', sans-serif;
        margin-bottom: 1.5rem;
    }
    section {
        margin-bottom: 8rem;
    }
    section.meters {
        text-align: left;
        .meters-list {
            .meter-box {
                height: 220px;
            }
        }

        .showall {
            text-align: center;
        }
    }
}