// Place all the styles related to the root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$darkblue: #002F5A;
$lightblue: #0271B1;
$black: #000;

.container {
    .title {
        color: $lightblue;
        font-family: 'Oxygen', sans-serif;
    }


    section.meters {
        text-align: center;
        .meters-list {
            display: flex;
            margin-bottom: 1.5rem;
            .meter-box {
                height: 220px;
                width: 33.3333%;
                padding-right: 8px;
                overflow: hidden;
                img {
                    background-color: black;
                    object-fit: cover;
                    width: 100%;
                }
            }

        }
    }

}