<h1 class="h2">Liste des métiers</h1>

<div class="row mb-3">
  <% @metiers.each do |metier| %>
    <div class="col-md-4 p-2 mt-4">
      <%= link_to metier do %>
        <div class="position-relative">
            <img alt="" src="<%=metier.media%>"class="img-full">
            <div class="position-absolute w-100 h-100" style="top: 0; left: 0;">
              <p class="h2 w-100 h-100 text-white d-flex justify-content-center align-items-center" style="background-color: #343a4020"><%= metier.name %></p>
            </div>
        </div>
      <% end %>  
    </div>
  <% end %>
</div>
